{% extends "task.html" %}
{% block task %}
Don't Be Square
{% endblock %}
{% block taskstory %}
Alright, put on your dancing shoes!  It's time to learn a squaredancing move.
We particularly like the <a href="http://en.wikipedia.org/wiki/Do-si-do">Do-si-do</a>,
but you can find some more moves 
<a href="http://acme-corp.com/teamGuest/R/2_426/sd101/Square%20Dancing%20101.htm">here</a>.
When you've perfected your skills, make a short video of you and your partner performing
the move you learned, then upload it to Twitter or Facebook with the hashtag #k4hoedown.

TODO: figure out how to share this.
{% endblock %}
